body
{
    text-align: center;
    background-image: url(https://funart.pro/uploads/posts/2021-04/thumbs/1618470823_17-funart_pro-p-oboi-fon-sploshnoi-fon-17.png);
    

}
form
{
    background: #00e0ff;
    background: linear-gradient(45deg,#00e0ff 10%, #7ebf7e 50%);
    background: -webkit-linear-gradient(45deg,#00e0ff 10%, #7ebf7e 50%);
    background: -moz-linear-gradient(45deg,#00e0ff 10%, #7ebf7e 50%);
    border-radius: 10px;
    width: 400px;
    margin: auto;
    border: 1px solid rgb(131, 13, 13);
    box-shadow: -5px -2px 120px 37px rgba(0,0,0,0.75);
-webkit-box-shadow: -5px -2px 120px 37px rgba(0,0,0,0.75);
-moz-box-shadow: -5px -2px 120px 37px rgba(0,0,0,0.75);
}
